fastapi==0.114.2
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35
asyncpg==0.29.0
pydantic==2.9.2
pydantic-settings==2.5.2
apscheduler==3.10.4
prophet==1.1.5
httpx==0.27.2
python-jose==3.3.0
argon2-cffi==23.1.0
fastapi-prometheus==0.4.0
